{% extends '@layout/backend/show.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/dracula.min.css">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>thumb</th>
                    <td class="text-center">
                        <img width="80%" height="auto" src="{{ vich_uploader_asset(vm.data, 'thumb_file') }}"
                             alt="{{ vm.data.name }}"/>
                    </td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{ vm.data.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ vm.data.name }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ vm.data.content | markdown_to_html }}</td>
                </tr>
                <tr>
                    <th>Thumb Url</th>
                    <td>{{ vm.data.thumbUrl }}</td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td>{{ vm.data.createdAt ? vm.data.createdAt| date : '' }}</td>
                </tr>
                <tr>
                    <th>Updated At</th>
                    <td>{{ vm.data.updatedAt ? vm.data.updatedAt| date : '' }}</td>
                </tr>
                <tr>
                    <th>Is Online</th>
                    <td>{{ active_status(vm.data.isOnline) }}</td>
                </tr>
                <tr>
                    <th>Is Archived</th>
                    <td>{{ active_status(vm.data.isArchived) }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ vm.data.slug }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
