{% extends '@layout/backend/show.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/dracula.min.css">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>thumb</th>
                    <td class="text-center">
                        <img width="80%" height="auto" src="{{ vich_uploader_asset(blog, 'thumb_file') }}"
                             alt="{{ blog.name }}"/>
                    </td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{ blog.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ blog.name }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ blog.content | markdown_to_html }}</td>
                </tr>
                <tr>
                    <th>Thumb_url</th>
                    <td>{{ blog.thumbUrl }}</td>
                </tr>
                <tr>
                    <th>Created_at</th>
                    <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Updated_at</th>
                    <td>{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Is_online</th>
                    <td>{{ blog.isOnline ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Is_archived</th>
                    <td>{{ blog.isArchived ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ blog.slug }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
