<footer class="footer-area">
    <div class="container">
        <div class="footer-content">
            <div class="logo">
                <a href="#">
                    <img src="{{ asset('/assets/img/logo-white.png') }}" width="20%" alt="logo image">
                </a>
                <span style="color: #04c37f; font-size: 19px; font-weight: 600; margin-top: 8px;margin-bottom: 15px;">
                   Bâtisseurs Numériques
                </span>
            </div>
        </div>
    </div>

    <div class="br-line"></div>
    <div class="footer-shape1"><img src="{{ asset('/assets/img/shape3.png') }}" alt="image"></div>
    <div class="footer-shape2"><img src="{{ asset('/assets/img/shape4.png') }}" alt="image"></div>
</footer>
<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <p>
                    <i class="far fa-copyright"></i>
                    Devscast. CC-BY-NC-SA-4.0, {{ 'now' | date('Y') }}
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul>
                    <li><a href="{{ path('conduct') }}">Code de Conduite</a></li>
                    <li><a href="{{ path('contributing') }}">Contribuer</a></li>
                    <li><a href="https://github.com/devscast/devscast-symfony" target="_blank">Code Source</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
