<footer class="footer-area">
    <div class="container">
        <div class="footer-content">
            <div class="logo">
                <a href="{{ path('admin') }}">
                    <img src="{{ asset('/assets/img/logo-white.png') }}" width="20%" alt="image">
                </a>
                <span style="color: #04c37f; font-size: 19px; font-weight: 600; margin-top: 8px;margin-bottom: 15px;">
                    Numeric Builders
                </span>
                <ul class="footer-contact-info">
                    <li><a href="">contact@devs-cast.com</a></li>
                </ul>
                <ul class="social">
                    <li><a href="" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-github-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="br-line"></div>
    <div class="footer-shape1"><img src="{{ asset('/assets/img/shape3.png') }}" alt="image"></div>
    <div class="footer-shape2"><img src="{{ asset('/assets/img/shape4.png') }}" alt="image"></div>
</footer>
<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <p>
                    <i class="far fa-copyright"></i>
                    Devscast. All Rights Reserved, {{ 'now' | date('Y') }}
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul>
                    <li><a href="{{ path('privacy') }}">Terms & Conditions</a></li>
                    <li><a href="https://github.com/devscast/devscast-symfony">Source Code</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
