{% extends 'layout/admin.html.twig' %}

{% block breadcrumb %}
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{{ path('admin_solutions_index') }}">Solutions</a></li>
            </ol>
        </nav>
        <h1 class="mg-b-0 tx-spacing--1">Solutions</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="mb-3 col-12">
        <a class="btn btn-primary" href="{{ path('admin_solutions_new') }}">
            New Solution
        </a>
    </div>
    <div class="card col-12">
        <div class="card-body align-content-center">
            <div data-label="solutions">
                <table id="datatable-solutions" class="table" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Content</th>
                        <th>challenge</th>
                        <th>Created_at</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for solution in solutions %}
                        <tr>
                            <td>{{ solution.id }}</td>
                            <td>{{ solution.content }}</td>
                            <td>{{ solution.challenge.name }}</td>
                            <td>{{ solution.createdAt ? solution.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ path('admin_solutions_show', {'id': solution.id}) }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a class="btn btn-sm btn-primary" href="{{ path('admin_solutions_edit', {'id': solution.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                {{ include('admin/solutions/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/assets/backend/lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/lib/datatables.net-dt/js/dataTables.dataTables.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/lib/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js') }}"></script>
    <script>
        $(function () {
            $('#datatable-solutions').DataTable({
                responsive: true,
                autoWidth: true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });
        });
    </script>
{% endblock %}
