{% extends 'layout/admin.html.twig' %}

{% block breadcrumb %}
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{{ path('admin_solutions_index') }}">Solutions</a></li>
            </ol>
        </nav>
        <h1 class="mg-b-0 tx-spacing--1"> solutions #{{ solution.id }}</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="mb-3">
            <a class="btn btn-sm btn-primary" href="{{ path('admin_solutions_edit', {id: solution.id}) }}">
                <i class="fa fa-edit"></i>
            </a>
            {{ include('admin/solutions/_delete_form.html.twig') }}
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ solution.id }}</td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td>{{ solution.content }}</td>
                    </tr>
                    <tr>
                        <th>Created_at</th>
                        <td>{{ solution.createdAt ? solution.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Updated_at</th>
                        <td>{{ solution.updatedAt ? solution.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



