{% extends 'layout/admin.html.twig' %}

{% block body %}
    <div class="col-4 mg-t-10 mg-sm-t-0">
        <div class="card card-body">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-10">
                Users
            </h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-10 mg-r-5 lh-1">{{ user_count }}</h3>
            </div>
            <div class="chart-three">
                <a href="{{ path('admin_user_index') }}" class="small-box-footer">
                    View More
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-4 mg-t-10 mg-sm-t-0">
        <div class="card card-body">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-10">
                Posts
            </h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-10 mg-r-5 lh-1">{{ post_count }}</h3>
            </div>
            <div class="chart-three">
                <a href="{{ path('admin_post_index') }}" class="small-box-footer">
                    View More
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-4 mg-t-10 mg-lg-t-0">
        <div class="card card-body">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-10">
                Blog Posts
            </h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-10 mg-r-5 lh-1">
                    {{ blog_count }}
                </h3>
            </div>
            <div class="chart-three">
                <a href="{{ path('admin_blog_index') }}" class="small-box-footer">
                    View More
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/assets/backend/lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/lib/datatables.net-dt/js/dataTables.dataTables.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/lib/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js') }}"></script>
    <script>
        $(function () {
            $('#datatable-challenge').DataTable({
                responsive: true,
                autoWidth: true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });
        });
    </script>
{% endblock %}
