{% extends 'layout/admin.html.twig' %}

{% block breadcrumb %}
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{{ path('admin_blog_index') }}">Blog</a></li>
            </ol>
        </nav>
        <h1 class="mg-b-0 tx-spacing--1">Blog</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="mb-3 col-12">
        <a class="btn btn-primary" href="{{ path('admin_blog_new') }}">
            New Blog Post
        </a>
    </div>
    <div class="card col-12">
        <div class="card-body align-content-center">
            <div data-label="blog">
                <table id="datatable-blog" class="table" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Created_at</th>
                        <th>Is_online</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for blog in blogs %}
                        <tr>
                            <td>{{ blog.id }}</td>
                            <td>{{ blog.name }}</td>
                            <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ blog.isOnline ?
                                '<i class="fa fa-check text-success"></i>' :
                                '<i class="fa fa-times text-danger"></i>' }}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ path('admin_blog_show', {'id': blog.id}) }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a class="btn btn-sm btn-primary" href="{{ path('admin_blog_edit', {'id': blog.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                {{ include('admin/blog/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/assets/backend/lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/lib/datatables.net-dt/js/dataTables.dataTables.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/lib/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('/assets/backend/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js') }}"></script>
    <script>
        $(function () {
            $('#datatable-blog').DataTable({
                responsive: true,
                autoWidth: true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });
        });
    </script>
{% endblock %}
