{% extends '@layout/backend/base.html.twig' %}

{% block body %}
    <div class="col-4 mg-t-10 mg-sm-t-0">
        <div class="card card-body">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-10">
                Users
            </h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-10 mg-r-5 lh-1">{{ user_count }}</h3>
            </div>
            <div class="chart-three">
                <a href="{{ path('backend_user_index') }}" class="small-box-footer">
                    View More
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-4 mg-t-10 mg-sm-t-0">
        <div class="card card-body">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-10">
                Posts
            </h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-10 mg-r-5 lh-1">{{ post_count }}</h3>
            </div>
            <div class="chart-three">
                <a href="{{ path('backend_post_index') }}" class="small-box-footer">
                    View More
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-4 mg-t-10 mg-lg-t-0">
        <div class="card card-body">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-10">
                Blog Posts
            </h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-10 mg-r-5 lh-1">
                    {{ blog_count }}
                </h3>
            </div>
            <div class="chart-three">
                <a href="{{ path('backend_blog_index') }}" class="small-box-footer">
                    View More
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
