<div class="lg:px-32 md:px-20 py-10 p-4">
    <div class="text-center">
        <span class="badge badge-green">Nos services</span>
        <h2 class="zone-title mt-3">Ce que nous faisons</h2>
    </div>
    <div class="mt-10 grid lg:grid-cols-3 sm:grid-cols-2 sm:gap-6 gap-4 items-center bg-no-repeat bg-center"
        style="background-image: url('{{asset('assets/img/services-bg.png') }}');">
        <div>
            <div class="service-card">
                <div class="flex justify-center">
                    <img src="{{ asset('assets/img/service-icon.png') }}" alt="">
                </div>
                <div class="text-center mt-2">
                    <h3 class="service-title">Devéloppement web</h3>
                    <p class="mt-3">Cuae nemo? Quo, qui aspernatur. Fuga deleniti in odio voluptatum repellendus
                        expedita architecto quidem debitis ratione perspiciatis!</p>
                </div>
            </div>
        </div>

        <div>
            <div class="service-card">
                <div class="flex justify-center">
                    <img src="{{ asset('assets/img/service-icon.png') }}" alt="">
                </div>
                <div class="text-center mt-2">
                    <h3 class="service-title">Tutoriels vidéo</h3>
                    <p class="mt-3">Cuae nemo? Quo, qui aspernatur. Fuga deleniti in odio voluptatum repellendus
                        expedita architecto quidem debitis ratione perspiciatis!</p>
                </div>
            </div>
            <div class="service-card mt-6">
                <div class="flex justify-center">
                    <img src="{{ asset('assets/img/service-icon.png') }}" alt="">
                </div>
                <div class="text-center mt-2">
                    <h3 class="service-title">Devéloppement web</h3>
                    <p class="mt-3">Cuae nemo? Quo, qui aspernatur. Fuga deleniti in odio voluptatum repellendus
                        expedita architecto quidem debitis ratione perspiciatis!</p>
                </div>
            </div>
        </div>

        <div class="lg:mt-0 sm:-mt-24">
            <div class="service-card">
                <div class="flex justify-center">
                    <img src="{{ asset('assets/img/service-icon.png') }}" alt="">
                </div>
                <div class="text-center mt-2">
                    <h3 class="service-title">Recherche & Bloging</h3>
                    <p class="mt-3">Cuae nemo? Quo, qui aspernatur. Fuga deleniti in odio voluptatum repellendus
                        expedita architecto quidem debitis ratione perspiciatis!</p>
                </div>
            </div>
        </div>
    </div>
</div>