{% set _showUrl = data_type == 'blog' ? 'app_blog_show' : 'app_post_show' %}
{% set _data = blog ?? post %}

<article class="single-blog-post">
    <header class="post-image">
        <a href="{{ path(_showUrl, {id: _data.id, slug: _data.slug}) }}">
            <img src="{{ vich_uploader_asset(_data, 'thumb_file') }}" alt="image">
        </a>
    </header>
    <main class="post-content">
        <time class="date">
            <i class="far fa-calendar-alt"></i>
            {% if data_type == "post" %}
                {{ _data.duration ~ " mins" }}
            {% else %}
                {{ _data.createdAt | date('d M Y') }}
            {% endif %}
        </time>
        <h3>
            <a href="{{ path(_showUrl, {id: _data.id, slug: _data.slug}) }}">
                {{ _data.name }}
            </a>
        </h3>
        <a href="{{ path(_showUrl, {id: _data.id, slug: _data.slug}) }}" class="read-more-btn">
            Read More
            <i class="flaticon-right-arrow"></i>
        </a>
    </main>
</article>
