<div class="sticky top-0 mt-10" id="sidebar">
    <div>
        <h4 class="text-xl mb-4">Tags</h4>
        {% for tag in tags %}
            <a 
                title="{{ tag.name }}" 
                href="{{ path("app_tag_show", {name: tag.name}) }}" 
                class="tag tag-red"
            >
                {{ tag.name }}
            </a>
        {% endfor %}
    </div>
    <div class="mt-10">
        <h4 class="text-xl mb-4">Articles similaires</h4>
        <div class="grid lg:grid-cols-1 lg:gap-0 gap-4 sm:grid-cols-2">
            {% if posts %}
                {% for post in posts %}
                    <div class="blog-similar sm:mt-3">
                        <div class="blog-similar-head">
                            <img src="{{ vich_uploader_asset(post, 'thumb_file') }}" class="blog-similar-img" alt="{{ post.name }}">
                        </div>
                        <div class="blog-similar-body">
                            <a href="{{ path('app_blog_show', {id: post.id, slug: post.slug}) }}" title="{{ post.name }}">
                                <h3 class="blog-similar-title">{{ post.name }}</h3>
                                <span class="sm:text-md text-sm">Par : <span class="text-green-600">{{ post.user.name }}</span></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>







