<aside class="widget-area" id="sidebar">
    {% if posts %}
        <section class="widget widget_axton_posts_thumb">
            <h3 class="widget-title">Autres contenu</h3>
            {% for post in posts %}
                <article class="item">
                    <a title="{{ post.name }}" href="{{ path('app_post_show', {id: post.id, slug: post.slug}) }}"
                       class="thumb">
                        <span class="fullimage cover bg1"
                              role="img"
                              style="background-image: url({{ vich_uploader_asset(post, 'thumb_file') }})"></span>
                    </a>
                    <div class="info">
                        <time datetime="{{ post.createdAt | date("Y-m-d") }}">
                            {{ post.createdAt | date("M, d-Y") }}
                        </time>
                        <h4 class="title usmall">
                            <a title="{{ post.name }}"
                               href="{{ path('app_post_show', {id: post.id, slug: post.slug}) }}">
                                {{ post.name }}
                            </a>
                        </h4>
                    </div>
                    <div class="clear"></div>
                </article>
            {% endfor %}
        </section>
    {% endif %}

    <section class="widget widget_categories">
        <h3 class="widget-title">Catégories</h3>
        <ul>
            {% for category in categories %}
                <li>
                    <a title="{{ category.name }}" href="{{ path("app_category_show", {slug: category.slug}) }}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="widget widget_tag_cloud">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
            {% for tag in tags %}
                <a title="{{ tag.name }}" href="{{ path("app_tag_show", {name: tag.name}) }}">
                    {{ tag.name }}
                </a>
            {% endfor %}
        </div>
    </section>
</aside>
