{% extends 'layout/base.html.twig' %}
{% set _data = blog ?? post %}

{% block stylesheet %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/dracula.min.css">
{% endblock %}

{% block body %}
    <div class="page-title-area bg-black">
        <div class="container">
            <h2>{{ _data.name }}</h2>
        </div>
        <div class="br-line"></div>
    </div>

    <section class="blog-details-area ptb-80 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <article class="blog-details">
                        <header class="article-image">
                            {% if data_type == "post" %}
                                <iframe
                                        width="100%"
                                        height="500px"
                                        src="https://www.youtube-nocookie.com/embed/{{ _data.videoUrl }}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            {% else %}
                                <img src="{{ vich_uploader_asset(_data, 'thumb_file') }}" alt="{{ _data.name }}">
                            {% endif %}
                        </header>

                        <main class="article-content">
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <span>Posted On:</span>
                                        <time>{{ _data.createdAt | date('M, d Y') }}</time>
                                    </li>
                                    <li>
                                        <span>Posted By: Bernard Ngandu</span>
                                    </li>
                                </ul>
                            </div>

                            {{ _data.content | markdown_to_html }}
                        </main>

                        <footer class="article-footer">
                            {% if _data.category %}
                                <div class="article-tags">
                                    <a href="{{ path("app_" ~ data_type ~ "_index", {category: _data.category.slug}) }}"
                                       title="{{ _data.category.name }}">
                                        {{ _data.category.name }}
                                    </a>
                                </div>
                            {% endif %}

                            <div class="article-share">
                                <ul class="social">
                                    <li>
                                        <a id="share"
                                           data-title="{{ _data.name }}"
                                           data-url="{{ url('app_blog_show', {id: _data.id, slug: _data.slug}) }}"
                                           href="#">
                                            <i class="fa fa-share-alt"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </footer>
                    </article>
                    {#{% include "app/sections/_comments.html.twig" %}#}
                </div>

                <div class="col-lg-4 col-md-12">
                    {{ sidebar() }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
