{% extends '@layout/backend/show.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ vm.data.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ vm.data.email }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ vm.data.password }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ vm.data.name }}</td>
                </tr>
                <tr>
                    <th>Last_login_at</th>
                    <td>{{ vm.data.lastLoginAt ? vm.data.lastLoginAt| date : '-' }}</td>
                </tr>
                <tr>
                    <th>Last_login_ip</th>
                    <td>{{ vm.data.lastLoginIp }}</td>
                </tr>
                <tr>
                    <th>Created_at</th>
                    <td>{{ vm.data.createdAt ? vm.data.createdAt| date : '-' }}</td>
                </tr>
                <tr>
                    <th>Updated_at</th>
                    <td>{{ vm.data.updatedAt ? vm.data.updatedAt| date : '-' }}</td>
                </tr>
                <tr>
                    <th>Avatar</th>
                    <td>{{ vm.data.avatar }}</td>
                </tr>
                <tr>
                    <th>Is_archived</th>
                    <td>{{ active_status(vm.data.isArchived) }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

