<div class="md:px-20 px-5 py-8 lg:mt-0 md:mt-32 sm:mt-20 mt-10">
    <h2 class="text-center font-semibold text-lg text-blue-900">Nous l'avons fais pour eux </h2>
    <div class="flex justify-center gap-4 md:justify-between mt-8">
        <img src="{{ asset('assets/img/clients/logon.png') }}" alt="" class="h-10">
        <img src="{{ asset('assets/img/clients/airbnb.svg') }}" alt="">
        <img src="{{ asset('assets/img/clients/ge.svg') }}" alt="">
        <img src="{{ asset('assets/img/clients/automatic.svg') }}" class=" sm:inline-block hidden" alt="">

        <img src="{{ asset('assets/img/clients/bissell.svg') }}" class=" sm:inline-block hidden" alt="">

        <img src="{{ asset('assets/img/clients/coty.svg') }}" class="hidden lg:block" alt="">
    </div>
</div>