<section id="contact" class="contact-area ptb-80 bg-black">
    <div class="container">
        <div class="section-title">
            <span>Bavardons</span>
            <h2>Contactez-nous</h2>
            <div class="bar"></div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 animated slideInLeft">
                <div class="contact-image">
                    <img src="{{ asset('assets/img/contact.svg') }}" alt="image">
                </div>
            </div>

            <div class="col-lg-7 col-md-12 animated slideInRight">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <p>
                                Ce formulaire utilise
                                <a title="recaptcha" href="https://www.google.com/recaptcha/intro/android.html">
                                    reCAPTCHA
                                </a>
                                afin de lutter contre le SPAM.
                                L'utilisation de cette fonctionnalité est soumise aux
                                <a href="https://www.google.com/intl/fr/policies/privacy/">
                                    Règles de confidentialité
                                </a> et aux
                                <a href="https://www.google.com/intl/fr/policies/terms/"
                                   title="Conditions d'utilisation">
                                    Conditions d'utilisation
                                </a> de Google.
                            </p>
                        </div>
                    </div>

                    {{ form_start(contactForm) }}
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            {{ form_row(contactForm.name, {attr: {
                                placeholder: "votre nom..."
                            }}) }}
                        </div>

                        <div class="col-lg-6 col-md-6">
                            {{ form_row(contactForm.email, {attr: {
                                placeholder: "votre email..."
                            }}) }}
                        </div>

                        <div class="col-lg-12 col-md-12">
                            {{ form_row(contactForm.subject, {attr: {
                                placeholder: "votre sujet..."
                            }}) }}
                        </div>

                        <div class="col-lg-12 col-md-12">
                            {{ form_row(contactForm.message, {attr: {
                                placeholder: "votre message...",
                                cols: "30",
                                rows: "6"
                            }}) }}
                        </div>

                        <div class="col-lg-12 col-md-12">
                            {{ form_row(contactForm.captcha) }}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {{ form_end(contactForm) }}
                </div>
            </div>
        </div>
    </div>
</section>
