{% if projects is defined %}
    <section id="projects" class="projects-area ptb-80 bg-black">
        <div class="container">
            <div class="section-title">
                <span>Nos projets réalisés </span>
                <h2>Projets récents</h2>
                <div class="bar"></div>
            </div>
        </div>

        <div class="row projects-slides owl-carousel owl-theme">
            {% for project in projects.data %}
                <div class="single-projects-box">
                    <a href="{{ path('app_project_show', {name: project.name | lower}) }}" title="{{ project.name }}">
                        <img src="{{ asset(project.screenshots[0]) }}" alt="{{ project.name }}">
                    </a>
                    <div class="projects-content">
                        <h3>
                            <a href="{{ project.link }}"
                               title="{{ project.name }}"
                               target="_blank">
                                {{ project.name }}
                            </a>
                        </h3>
                        <span>{{ project.role }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
