{% if team is defined %}
    <section id="team" class="team-area ptb-80 bg-black">
        <div class="container">
            <div class="section-title">
                <span>Rencontrez nos experts</span>
                <h2>Notre Équipe</h2>
                <div class="bar"></div>
            </div>

            <div class="team-slides owl-carousel owl-theme">
                {% for user in team.data %}
                    <div class="single-team-box">
                        <div class="team-member-image">
                            <img src="{{ user.avatar }}" title="{{ user.name }}" alt="{{ user.name }}">
                        </div>
                        <div class="team-member-content">
                            <h3>{{ user.name }}</h3>
                            <span>{{ user.role }}</span>
                            <ul class="social">
                                {% for social in user.social %}
                                    <li>
                                        <a href="{{ social.link }}" title="{{ social.name }}" target="_blank">
                                            <i class="{{ social.icon }}"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
