{% extends '@layout/backend/base.html.twig' %}

{% block content %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Created_at</th>
        <th>Online</th>
        <th>Archived</th>
        <th>Duration</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for post in vm.data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ active_status(item.isOnline)  }}</td>
            <td>{{ active_status(item.isArchived)  }}</td>
            <td>{{ item.duration }}</td>
            <td>{{ include('@layout/backend/_actions.html.twig') }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
