{% extends '@layout/backend/show.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Thumb</th>
                    <td class="text-center">
                        <img width="100%" height="auto" src="{{ vich_uploader_asset(post, 'thumb_file') }}"
                             alt="{{ vm.data.name }}"/>
                    </td>
                </tr>
                <tr>
                    <th>Thumb Url</th>
                    <td>{{ vm.data.thumbUrl }}</td>
                </tr>
                <tr>
                    <th>Video Url</th>
                    <td>{{ vm.data.videoUrl }}</td>
                </tr>
                <tr>
                    <th>Video</th>
                    <td>
                        <iframe
                                width="100%"
                                height="500px"
                                src="https://www.youtube-nocookie.com/embed/{{ vm.data.videoUrl }}"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{ vm.data.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ vm.data.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ vm.data.description }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ vm.data.content | markdown_to_html }}</td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td>{{ vm.data.createdAt ? vm.data.createdAt | date : '-' }}</td>
                </tr>
                <tr>
                    <th>Updated At</th>
                    <td>{{ vm.data.updatedAt ? vm.data.updatedAt | date : '-' }}</td>
                </tr>
                <tr>
                    <th>Is Online</th>
                    <td>{{ active_status(vm.data.isOnline) }}</td>
                </tr>
                <tr>
                    <th>Is Archived</th>
                    <td>{{ active_status(vm.data.isArchived) }}</td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td>{{ vm.data.duration }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ vm.data.slug }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
