<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    {{ encore_entry_link_tags('dashboard/app') }}
    {% block stylesheet %}{% endblock %}
</head>
<body>

{% include "admin/_sidebar.html.twig" %}
<div class="content ht-100v pd-0">
    {% block navbar %}
        <div class="content-header">
            <div class="content-search"></div>
            <nav class="nav">
                <a href="{{ path('home') }}" class="nav-link"><i class="fa fa-home"></i></a>
                <a href="{{ path('logout') }}" class="nav-link"><i class="fa fa-sign-out-alt text-danger"></i></a>
            </nav>
        </div>
    {% endblock %}

    <div class="content-body">
        <div class="container pd-x-0">
            <div class="mt-5 mb-5">
                {% include "admin/_flash.html.twig" %}
            </div>

            <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                {% block breadcrumb %}
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                                <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Dashboard</a></li>
                            </ol>
                        </nav>
                        <h1 class="mg-b-0 tx-spacing--1">Dashboard</h1>
                    </div>
                {% endblock %}
            </div>
            <div class="row row-xs">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('dashboard/app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
