<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('/assets/backend/lib/select2/css/select2.min.css') }}">
    <link href="{{ asset('/assets/backend/lib/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/assets/backend/lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/assets/backend/css/dashforge.css') }}">
    <link rel="stylesheet" href="{{ asset('/assets/backend/css/dashforge.filemgr.css') }}">
    <link rel="stylesheet" href="{{ asset('/assets/backend/css/skin.cool.css') }}">
    <link rel="stylesheet" href="{{ asset('/assets/backend/css/skin.charcoal.css') }}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% block navbar %}
    <div class="content-header">
        <nav class="nav">
            <a href="#" class="nav-link"><i class="fa fa-question-circle"></i></a>
            <a href="{{ path('logout') }}" class="nav-link"><i class="fa fa-sign-out-alt text-danger"></i></a>
        </nav>
    </div>
{% endblock %}
<div class="">
    {{ include('admin/_sidebar.html.twig') }}
    <div class="content ht-100v pd-0">
        <div class="content-body">
            <div class="container">
                <div class="">
                    {% block breadcrumb %}{% endblock %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('/assets/backend/lib/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('/assets/backend/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('/assets/backend/lib/feather-icons/feather.min.js') }}"></script>
<script src="{{ asset('/assets/backend/lib/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('/assets/backend/js/dashforge.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
