<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    {{ encore_entry_link_tags('dashboard/app') }}
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% block navbar %}
    <div class="content-header">
        <nav class="nav">
            <a href="#" class="nav-link"><i class="fa fa-question-circle"></i></a>
            <a href="{{ path('logout') }}" class="nav-link"><i class="fa fa-sign-out-alt text-danger"></i></a>
        </nav>
    </div>
{% endblock %}
<div class="">
    {{ include('admin/_sidebar.html.twig') }}
    <div class="content ht-100v pd-0">
        <div class="content-body">
            <div class="container">
                <div class="">
                    {% block breadcrumb %}{% endblock %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="/assets/jquery.min.js"></script>
{{ encore_entry_script_tags('dashboard/app  ') }}
{% block javascripts %}{% endblock %}
</body>
</html>
