<!doctype html>
<html lang="en">
<head>
    {% include "app/includes/_meta.html.twig" %}
    <link rel="stylesheet" href="{{ asset('/assets/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/assets/css/flaticon.css') }}">
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
    {% block meta %}
        <title>Let's Bring your dreams to reality | devs-cast.com</title>
    {% endblock %}
</head>

<body data-route="{{ app.request.get("_route") }}">

{% include "app/includes/_preloader.html.twig" %}
{% include "app/includes/_nav.html.twig" %}
{% block body %}{% endblock %}
{% include "app/includes/_footer.html.twig" %}

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>
